.link {
  cursor: pointer;
}
 
/* ============= cross button  */
#checkbox {
  display: none;
}
.menuToggle{
  display: none;
}

.toggle {
  position: relative;
  width: 35px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 2 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  /* background: #7b52b9; */
    background:  var(--textColor);

  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}


.barTop {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom,transform;
  transition-delay: calc(0s + 0.35s) * .6;
}

.barMiddle {
  top: calc(50% - 4px/ 2);
  transition-property: opacity,transform;
  transition-delay: calc(0s + 0.35s * .3);
}

.barBottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top,transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .barTop {
  transform: rotate(-135deg);
  transition-delay: 0s;
  bottom: calc(50% - 4px/ 2);
}

#checkbox:checked + .toggle .barMiddle {
  opacity: 0;
  transform: rotate(-135deg);
  transition-delay: calc(0s + 0.35s * .3);
}

#checkbox:checked + .toggle .barBottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(-225deg);
  transition-delay: calc(0s + 0.35s * .6);
}


/* ========cross vbutton ==== */

/* .line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
} */
.desktoplink{
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}
.link {
  position: relative;
  text-decoration: none; 
  color: inherit;  
}

.link::after {
  content: '';
  width: 0%;
  height: 2px;
  background:  #e67e22; 
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: width 0.4s;
}

.link:hover::after {
  width: 100%;
}
.responsiveMenu{
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--bg);
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 36px;
  z-index: 999;
}

@media screen and (max-width: 640px) {
  .menuToggle{
    display: block;
  }
  .link{
    /* display: none; */
  }
  .desktoplink{
    display: none;
  }
}
