 .ratingContainer {
     display: flex;
    /* background:rgb(143, 244, 151); */
    /* border-radius: 10px; */
    align-items: center;
    justify-content: center;
  }
  
  .reviewBtnDiv{ 
    display: flex;
    flex-direction: row;
    gap: 5px;
   }
  .linksBtn{
    background-color: transparent;
    color: #0070f3;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .rating {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 35vw;
     /* border:1px solid gray; */
    /* border-radius:20px; */
     display: flex;
    flex-direction: column;  
    align-items: center;  
  }
 