 

.aboutSection {
   padding: 40px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.aboutHeader {
  text-align: center;
  margin-bottom: 40px;
}
.coolzonemaster{
  color: #e67e22;
}
.aboutHeader h1 {
  font-size: 2.5em;
 }

.aboutHeader p {
  font-size: 1.2em;
 }

.aboutContent {
  max-width: 800px;
  margin: 0 auto;
}

.aboutStory, .aboutTeam, .aboutContact {
  margin-bottom: 40px;
}

.aboutStory h2, .aboutTeam h2, .aboutContact h2 {
  font-size: 2em;
   margin-bottom: 20px;
}

.aboutStory p, .aboutContact p {
  font-size: 1.1em;
   line-height: 1.6;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.teamMember {
  flex: 1;
  min-width: 200px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.teamImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.teamMember h3 {
  font-size: 1.2em;
 }

.teamMember p {
  font-size: 1em;
 }

.aboutContact ul {
  list-style-type: none;
  padding: 0;
}

.aboutContact li {
  font-size: 1.1em;
  margin-bottom: 10px;
}
