.section {
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.cardTitle {
    font-size: 16px;
    font-weight: 700;
    color:black;
}

.cardImage {
    border-radius: 4px;
    margin-bottom: 10px;
}

.cardDate, .cardAuthor {
    font-size: 12px;
    color: #555;
}

.cardActions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.editButton, .deleteButton {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.editButton {
    background-color: #007bff;
}

.deleteButton {
    border: none;
    margin:10px;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #dc3545;
}
.addFqaButton{
    border: none;
    margin:10px;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #28a745;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-height: 90vh;
    overflow-y: auto;
    width: 90%;
    /* max-width: 600px; */
}
.select{
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
} 
.editinputs {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.editorContainer {
    position: relative;
    margin-bottom: 10px;
}

.reactQuill {
    width: 100%;
    height: 300px; 
    color: #555;
    overflow: auto;
}

.previewContainer {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f5f5;
    max-height: 400px;
    overflow: auto;
}

.previewTextarea {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    color: black;
    background: #f5f5f5;
    overflow: auto;
}

.inputFile {
    margin-bottom: 10px;
}

.greenbtn {
    background-color: #4CAF50; /* Example green color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.closebtn {
    background-color: #f44336; /* Example red color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}
