/* .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  min-height: 100px;
  position: sticky;
   min-width: 100%;
   top: 0;
   z-index: 100;
}
 

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
   font-size: 36px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
 
  gap: 20px;
  flex: 1;
  font-size: 20px;
}
 
#link::after{ 
  content: '';
  width: 0%;
  height: 2px;
  background: #045be6;
  position: absolute;
  bottom: -13px;
  transition: width 0.4s;}
  
  #link::hover::after{
    content: '';
    width: 100%;
  }
@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .links{
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
} */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  position: sticky;
  min-width: 100%;
  top: 0;
  z-index: 100;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
  font-size: 36px;
  font-weight: bold;
  color: #e67e22;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  /* flex: 1; */
  font-size: 20px;
}

.link {
  position: relative;
  text-decoration: none; /* Remove underline for normal state */
  color: inherit; /* Ensure link color inherits from parent */
}

.link::after {
  content: '';
  width: 0%;
  height: 2px;
  /* color: #e67e22; */
  background: #e67e22;
  position: absolute;
  bottom: -13px;
  left: 0;
  transition: width 0.4s;
}

.link:hover::after {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
