.footer {
   padding: 40px 0;
  color: var(--softTextColor);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  font-size: 24px;
}

.desc {
  font-weight: 300;
}

.icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.listTitle {
  font-weight: bold;
}

/* Footer Bottom Section */
.footerBottom {
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #eaeaea;
}

.policies {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.policies a {
  color: var(--linkColor); /* Make sure to define this in your global styles */
  text-decoration: none;
}

.policies a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .links {
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 40px;
  }

  .links {
    justify-content: center;
  }

  .policies {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 640px) {
  .links a, .policies a {
    font-size: 14px;
  }
}
