 
   .commentBtnDiv{ 
     display: flex;
     flex-direction: row;
     gap: 5px;
   }
 .toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #0070f3;
  display: flex;
  align-items: center;
 }

  