 
  /* .container {
    background-color: var(--bg);  
    position: absolute;
     left: 50%;
    transform: translateX(-50%);
    max-width: 35vw;
    } */
   .commentBtnDiv{ 
     display: flex;
     flex-direction: row;
     gap: 5px;
   }
 .toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #0070f3;
  display: flex;
  align-items: center;
 }

 /* .write {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

 .input {
  width: 100%;
  max-width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ddd;
  resize: vertical;
  margin-bottom: 10px;
} */

 /* .button {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

 .comments {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  max-height: 400px;
  overflow-y: auto;
}

 .comment {
  display: flex;
  margin-bottom: 15px;
}

 .user {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.image {
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.date {
  color: #777;
  font-size: 12px;
}

.desc {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
} */
